body {
 margin: 0
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: red
}

.btn-list {
  grid-area: btn;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  font-size: 2em;
  color: white
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: underline
}

h1, h2 {
  grid-area: title;
}

h1 {
  font-size: 7em;
  text-decoration: underline;
}

h2 {
  font-size: 5em;
  text-decoration: underline;
}

.container {
  display: grid;
  justify-items: center;
  width: 90%;
  height: 90%;
  background-color: blue;
}

.container > p {
  grid-area: text;
  font-size: 2em;
}

.default {
  align-items: center;
  grid-template-areas:
  '. . .'
  'title title title'
  'btn btn btn'
  '. . .';
  grid-template-rows: 0.25fr 2.5fr 1fr 0.5fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.intro {
  grid-template-areas: 
  '. . .'
  'title title title'
  'text text text'
  '. . .';
  grid-template-rows: 0.25fr 1fr 2.5fr 0.5fr;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  grid-template-areas: 
  '. . .'
  'title title title'
  'list list list'
  '. btn .'
  '. . .';
  grid-template-rows: 0.25fr 1fr 3fr 1fr 0.5fr;
  grid-template-columns: repeat(3, 1fr);
}

.about {
  grid-template-areas:
  '. . .'
  'title title title'
  'text text text'
  'link link link'
  '. . .'
}

.article-list {
  grid-area: list;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  min-height: 50%;
}

.article-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: yellow;
  margin: 10px;
}

.article-btn {
  grid-area: btn
}

.link-list {
  grid-area: link;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  background-color: gray;
  border-radius: 50%;
}